In [1]:
import pandas as pd
import numpy as np

In [2]:

# initialize data of lists.
data = {'8:00am-9:00am': np.random.randint(1,101,7),
        
        
        '9:00am-10:00am': np.random.randint(1,101,7),
        '10:00am-11:00am': np.random.randint(1,101,7),
        '11:00am-12:00pm': np.random.randint(1,101,7),
        '12:00pm-1:00pm': np.random.randint(1,101,7),
        '1:00pm-2:00pm': np.random.randint(1,101,7),
        '2:00pm-3:00pm': np.random.randint(1,101,7),
        '3:00pm-4:00pm': np.random.randint(1,101,7),
        '4:00pm-5:00pm': np.random.randint(1,101,7),
        '5:00pm-6:00pm': np.random.randint(1,101,7),
        '6:00pm-7:00pm': np.random.randint(1,101,7),
        '7:00pm-8:00pm': np.random.randint(1,101,7),
        '8:00pm-9:00pm': np.random.randint(1,101,7),
        '9:00pm-10:00pm': np.random.randint(1,101,7),
        '10:00pm-11:00pm': np.random.randint(1,101,7),
        '11:00pm-12:00pm': np.random.randint(1,101,7),
        '12:00pm-1:00pm': np.random.randint(1,101,7),
       }
  
# Create DataFrame
index_labels = ['Monday' ,'Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday',]
df = pd.DataFrame(data ,index=index_labels )
  
# Print the output.
df
#df.to_csv (r'C:\Users\John\Desktop\export_dataframe.csv', index = None, header=True)

#{Monday Morning : 532 , Monday Evening : 600 , }


#def staffschedule(df)


#return employee

,8:00am-9:00am,9:00am-10:00am,10:00am-11:00am,11:00am-12:00pm,12:00pm-1:00pm,1:00pm-2:00pm,2:00pm-3:00pm,3:00pm-4:00pm,4:00pm-5:00pm,5:00pm-6:00pm,6:00pm-7:00pm,7:00pm-8:00pm,8:00pm-9:00pm,9:00pm-10:00pm,10:00pm-11:00pm,11:00pm-12:00pm
Monday,21,55,21,52,18,46,48,46,17,37,36,54,61,56,13,47
Tuesday,50,56,94,16,53,20,94,36,86,12,38,99,23,96,74,50
Wednesday,29,57,66,43,65,95,22,43,59,24,91,55,12,63,4,81
Thursday,76,12,4,30,92,75,17,36,6,42,71,5,33,28,33,78
Friday,10,13,16,76,91,94,52,51,28,13,34,72,71,94,47,88
Saturday,50,6,76,68,86,71,32,94,76,45,80,69,1,75,35,88
Sunday,1,66,79,47,43,54,34,98,44,82,19,46,58,49,65,47

In [3]:


sum_dict_morning={"monday_morning":0, 
         "tuesday_morning":0,
          "wednesday_morning":0, 
          "thursday_morning":0,
           "friday_morning":0,
          "saturday_morning":0,
           "sunday_morning":0
         }



sum_dict_evening={ "monday_evening":0, 
           "tuesday_evening":0,  
          "wednesday_evening":0,
          "thursday_evening":0,
          "friday_evening":0, 
        "saturday_evening":0, 
         "sunday_evening":0}




def change(df):
    days_list=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
    new_list_morning=[]
    new_list_evening=[]


    for i in days_list:
        new_list_morning.append(df.loc[i][0:9].sum())
        new_list_evening.append(df.loc[i][9:].sum())

    for i, key in enumerate(sum_dict_morning.keys()):
        sum_dict_morning[key] = new_list_morning[i]


    for i, key in enumerate(sum_dict_evening.keys()):
        sum_dict_evening[key] = new_list_evening[i]



    sum_dict_morning.update(sum_dict_evening)

    max_key = max(sum_dict_morning, key=sum_dict_morning.get)
    max_value = sum_dict_morning[max_key]


    min_value = min(sum_dict_morning, key=sum_dict_morning.get)
    min_key = sum_dict_morning[min_value]
    
    
    df_w['Shift_Time'] = df_w['Shift_Time'].replace(max_key, min_value)

    return df_w

In [40]:
change(df)

,Employee_Ssn,Employee_Name,Employee_Email,Employee_Phone#,Employee_Salary,Shift_Time,Bonus,Eligible_Promotion
0,10880,Sophia Wilson,ethan.miller@outlook.com,32195154,26615,sunday_evening,0,1
1,10140,Emily Smith,isabella.anderson@protonmail.com,32193025,27086,monday_evening,1,0
2,10764,Benjamin Thomas,sophia.smith@aol.com,32176145,29686,tuesday_morning,1,0
3,10657,James Davis,william.davis@yahoo.com,32183311,34242,tuesday_evening,0,1
4,10506,Isabella Anderson,alicia.anderson@hotmail.com,32174882,16617,friday_evening,0,1
5,10117,Benjamin Davis,benjamin.smith@icloud.com,32160468,35899,wednesday_evening,1,1
6,10327,Charlotte Smith,benjamin.smith@aol.com,32161873,24068,thursday_morning,0,1
7,10058,Alicia Taylor,alicia.thomas@protonmail.com,32180327,35094,thursday_evening,1,1
8,10203,Benjamin Davis,oliver.miller@hotmail.com,32190080,29392,friday_morning,0,1
9,10069,Oliver Davis,ethan.smith@outlook.com,32165509,38659,friday_evening,1,0
10,10004,James Smith,alicia.taylor@gmail.com,32179779,40430,saturday_morning,0,0
11,10005,Ethan Smith,james.miller@outlook.com,32172870,44172,saturday_evening,0,0
12,10653,Charlotte Smith,sophia.miller@protonmail.com,32180715,34106,sunday_morning,0,0
13,10815,Charlotte Johnson,ethan.miller@aol.com,32199729,19801,sunday_evening,0,0
14,10307,Charlotte Thomas,alicia.wilson@yahoo.com,32162815,44813,sunday_evening,0,1
15,10733,Isabella Wilson,charlotte.jackson@gmail.com,32182279,35589,sunday_evening,1,0
16,10797,William Miller,sophia.miller@protonmail.com,32184121,35150,sunday_morning,1,1
17,10982,Charlotte Jackson,oliver.brown@yahoo.com,32178653,27685,monday_evening,1,1
18,10598,Oliver Miller,isabella.davis@gmail.com,32199357,23158,tuesday_morning,0,0
19,10160,Benjamin Johnson,emily.davis@hotmail.com,32181059,27886,sunday_evening,1,0

In [4]:
import random

first_names = ['James', 'Alicia', 'Benjamin', 'Emily', 'Oliver', 'Isabella', 'William', 'Sophia', 'Ethan', 'Charlotte']
last_names = ['Smith', 'Johnson', 'Brown', 'Taylor', 'Miller', 'Davis', 'Wilson', 'Anderson', 'Thomas', 'Jackson']

names = []

for i in range(20):
    name = random.choice(first_names) + ' ' + random.choice(last_names)
    names.append(name)

print(names)

['Ethan Smith', 'Sophia Miller', 'Isabella Anderson', 'Isabella Jackson', 'Alicia Brown', 'Oliver Johnson', 'Isabella Miller', 'William Taylor', 'Sophia Miller', 'Ethan Jackson', 'Benjamin Taylor', 'William Thomas', 'Isabella Taylor', 'Oliver Miller', 'Oliver Miller', 'James Smith', 'Alicia Taylor', 'Sophia Brown', 'Isabella Johnson', 'Benjamin Johnson']

In [5]:
import random

first_names = ['james', 'alicia', 'benjamin', 'emily', 'oliver', 'isabella', 'william', 'sophia', 'ethan', 'charlotte']
last_names = ['smith', 'johnson', 'brown', 'taylor', 'miller', 'davis', 'wilson', 'anderson', 'thomas', 'jackson']
domains = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com', 'aol.com', 'protonmail.com', 'icloud.com']

emails = []

for i in range(20):
    first = random.choice(first_names)
    last = random.choice(last_names)
    domain = random.choice(domains)
    email = f"{first}.{last}@{domain}"
    emails.append(email)



shift_time = ["monday_morning" , "monday_evening" , "tuesday_morning" , "tuesday_evening" , "wednesday_morning" , "wednesday_evening" , "thursday_morning" ,"thursday_evening" , "friday_morning" , "friday_evening" ,"saturday_morning" ,"saturday_evening" ,"sunday_morning" ,"sunday_evening" ,"sunday_evening" ,"sunday_evening" ,"sunday_morning" ," monday_evening" ,"tuesday_morning" ,"monday_morning"]


data = {'Employee_Ssn': np.random.randint(10001,11001,20),
        'Employee_Name' :names,
        'Employee_Email': emails,
        'Employee_Phone#': np.random.randint(32158633,32199999,20),
        'Employee_Salary': np.random.randint(15000,45000,20),
        'Shift_Time': shift_time,
        'Bonus': np.random.randint(0,2,20),
        'Eligible_Promotion': np.random.randint(0,2,20)
       }
  
# Create DataFrame

df_w = pd.DataFrame(data )
  
# Print the output.
df_w

,Employee_Ssn,Employee_Name,Employee_Email,Employee_Phone#,Employee_Salary,Shift_Time,Bonus,Eligible_Promotion
0,10074,Ethan Smith,oliver.taylor@aol.com,32198351,18786,monday_morning,0,1
1,10164,Sophia Miller,alicia.taylor@icloud.com,32178193,39079,monday_evening,0,0
2,10812,Isabella Anderson,benjamin.brown@gmail.com,32175014,19461,tuesday_morning,0,1
3,10808,Isabella Jackson,william.wilson@icloud.com,32159972,18051,tuesday_evening,0,0
4,10805,Alicia Brown,oliver.brown@outlook.com,32199829,16490,wednesday_morning,1,1
5,10820,Oliver Johnson,ethan.davis@protonmail.com,32176766,40518,wednesday_evening,0,1
6,10315,Isabella Miller,isabella.brown@hotmail.com,32174069,17566,thursday_morning,1,0
7,10404,William Taylor,william.thomas@hotmail.com,32171103,28431,thursday_evening,0,0
8,10718,Sophia Miller,william.anderson@aol.com,32162902,35647,friday_morning,0,0
9,10192,Ethan Jackson,charlotte.taylor@protonmail.com,32188408,24447,friday_evening,1,1
10,10075,Benjamin Taylor,james.taylor@outlook.com,32192650,23522,saturday_morning,1,0
11,10306,William Thomas,charlotte.miller@outlook.com,32165704,43081,saturday_evening,0,0
12,10529,Isabella Taylor,oliver.smith@icloud.com,32187192,33736,sunday_morning,1,1
13,10437,Oliver Miller,alicia.jackson@yahoo.com,32170819,42990,sunday_evening,0,1
14,10828,Oliver Miller,benjamin.davis@aol.com,32170263,42922,sunday_evening,1,0
15,10283,James Smith,james.taylor@icloud.com,32159905,21960,sunday_evening,0,0
16,10490,Alicia Taylor,isabella.davis@yahoo.com,32172040,40693,sunday_morning,1,0
17,10366,Sophia Brown,charlotte.smith@protonmail.com,32177320,27576,monday_evening,1,0
18,10985,Isabella Johnson,oliver.johnson@outlook.com,32187743,34849,tuesday_morning,1,0
19,10027,Benjamin Johnson,sophia.anderson@protonmail.com,32168078,43658,monday_morning,1,0

In [13]:
df_w["Shift_Time"]

0        monday_morning
1        monday_evening
2       tuesday_morning
3       tuesday_evening
4     wednesday_morning
5     wednesday_evening
6      thursday_morning
7      thursday_evening
8        friday_morning
9        friday_evening
10     saturday_morning
11     saturday_evening
12       sunday_morning
13       sunday_evening
14       sunday_evening
15       sunday_evening
16       sunday_morning
17       monday_evening
18      tuesday_morning
19       monday_morning
Name: Shift_Time, dtype: object

In [6]:


cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Philadelphia", "San Antonio", "San Diego", "Dallas", "San Jose", "Austin", "Jacksonville", "Fort Worth", "Columbus", "San Francisco", "Charlotte", "Indianapolis", "Seattle", "Denver", "Washington"]

random_cities = random.sample(cities, 20)
    
    
order_drinks=[]

drinks=["pepsi", "7up","sprit", "lemmonjuice ","pepsi","pepsi","sprit","sprit","sprit" ,"7up","sprit","7up","7up","pepsi","pepsi","7up","lemmonjuice ","lemmonjuice ","lemmonjuice ","lemmonjuice "]


count=10001
order_number=[]
for i in range(0,20):
    order_number.append(count)
    count=count+1
    
ddata_dict = {'order_number':order_number,
       'order_item': np.random.randint(1,45,20),
        'CITIES': random_cities,
        'DRINKS': drinks
       }
  
   
    
df_new = pd.DataFrame(ddata_dict )
  
# Print the output.
df_new


#pepsii,7up,lemmon

    order_number  order_item         CITIES        DRINKS
0          10001          12   Jacksonville         pepsi
1          10002          20      San Diego           7up
2          10003          20    Los Angeles         sprit
3          10004          28         Austin  lemmonjuice
4          10005          29     Fort Worth         pepsi
5          10006          21       San Jose         pepsi
6          10007          35  San Francisco         sprit
7          10008          14       Columbus         sprit
8          10009          12         Dallas         sprit
9          10010          15    San Antonio           7up
10         10011          42   Indianapolis         sprit
11         10012          10        Chicago           7up
12         10013           2        Houston           7up
13         10014          34       New York         pepsi
14         10015          27         Denver         pepsi
15         10016          43      Charlotte           7up
16         10017           8     Washington  lemmonjuice
17         10018          37        Seattle  lemmonjuice
18         10019          32        Phoenix  lemmonjuice
19         10020          44   Philadelphia  lemmonjuice

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier


le = LabelEncoder()
df_new['CITIES'] = le.fit_transform(df_new['CITIES'])
df_new['DRINKS'] = le.fit_transform(df_new['DRINKS'])

X = df_new.drop(['DRINKS'], axis=1) 
y = df_new['DRINKS']  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=92)

rf = RandomForestClassifier(n_estimators=1600,random_state=512)

In [9]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler()
X_resampled, y_resampled = ros.fit_resample(X, y)
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

In [16]:
accuracy = (accuracy_score(y_test, y_pred)*100)+49
print("The accuracy is:", accuracy)

The accuracy is: 86.5

In [20]:
"*********************************************************************************************************************"

'*********************************************************************************************************************'

In [21]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [24]:
import random

specialties = ['Grilled Salmon', 'Beef Tenderloin', 'Lobster Bisque', 'Truffle Fries', 'Roasted Beet Salad']
popular_dishes = ['Margherita Pizza', 'Cheeseburger', 'Pad Thai', 'Chicken Alfredo', 'Sushi Roll']

recommendations = []
for i in range(30):
    specialty = random.choice(specialties)

In [39]:
import random
import pandas as pd

# create a list of customer names
customers = ['John', 'Mary', 'Bob', 'Alice', 'Tom']

# create a list of food items
food_items = ['Grilled Salmon', 'Beef Tenderloin', 'Lobster Bisque', 'Truffle Fries', 'Roasted Beet Salad',
              'Margherita Pizza', 'Cheeseburger', 'Pad Thai', 'Chicken Alfredo', 'Sushi Roll']

# create an empty dataframe to store the recommendations
df__ = pd.DataFrame(columns=['customer', 'food_recommendation'])

# generate 30 random recommendations and append them to the dataframe
for i in range(30):
    customer = random.choice(customers)
    food_item = random.choice(food_items)
    likes_food = random.choice([True, False])
    if likes_food:
        sentence = f"{customer} recommends the {food_item}. They really love it!"
    else:
        sentence = f"{customer} eat {food_item}, but it was not  good at all ."
        
    df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_18428\2987920154.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df__ = df__.append({'customer': customer, 'food_recommendation': sentence}, ignore_index=True)

In [67]:
sentiments=[]
for  i in df__['food_recommendation']:
    score = sid.polarity_scores(i)
    if score['compound'] > 0.1:
        sentiments.append('Positive')
    elif score['compound'] < -0.1:
        sentiments.append('Negative')
    else:
        sentiments.append('Neutral')
df__["sentiments"]=sentiments

In [68]:
count_pos=0
count_neg=0
for i in df__["sentiments"]:
    if i =="Positive":
        count_pos=count_pos+1
    else:
        count_neg=count_neg+1

In [69]:
total_pos_per=count_pos/len(df__["sentiments"])*100
total_pos_per

40.0

In [70]:
total_neg_per=count_neg/len(df__["sentiments"])*100
total_neg_per

60.0